/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/04/2021, 10:02:50 PM
    Author     : mauag
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding:0;
    color: black;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    margin-top:0;
   
    
}

html, body{
    background-color: darkkhaki;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.main-container{
    border:4px solid darkkhaki;
    border-radius: 10px;
    margin: 2rem;
    background-color: darkkhaki;
}

.containerElliminar{
     border-spacing: 30px;
     border: 2px solid black;
     width: 30%;
     height: 200px;
     box-shadow: rgba(0,0,0,0.6) 0 0 6px;
     border-radius: 15px;
     background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

nav, section, footer, article, aside{
    border: 2px solid darkkhaki;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    border: 0;
}

article, aside{
    width:40%;
    display: inline-block;
    height: 300px;
    background-color: darkkhaki;
    border: 0;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

}



nav, section, footer{
    background-color: darkkhaki;
}

td{
    padding: 0%;
    background-color: rgb(122, 121, 122);
    }

th{
    padding: 0%;
    background-color: rgb(80, 27, 116);
    color: white;
}


table{
    border-spacing: 30px;
    background-color: #23242b;
    box-shadow: rgba(0,0,0,0.6) 0 0 6px;
    border-radius: 15px;
}


  

